.register-header{
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab/roboto-slab-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-slab/roboto-slab-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-slab/roboto-slab-v7-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }

  
#header-black{
    z-index: 1000;
    position: fixed;
    height: 62px;
    width: 100%;
    border-bottom: 1px #AFAFAF solid;
	background: url(logo/top_bg.png);
}

#logo-container{
	padding: 0;
    position: absolute;
    background: url(logo/sample-logo.png) no-repeat;
    height: 65px;
    width: 145px;
    margin-top: -7px;
    margin-left: 182px;
}
.main-container{
    width: 98.6%;
    min-height: 100%;
    height: auto !important;
 }
.login-container{
    position: relative;
    width: 500px;
    height: 300px;
    left: 50%;
    transform: translate(-50%,110px);
    background-color: #f5f5f5;
    border: grey solid 1px;
    margin-bottom: 155px;
    border-radius: 20px;
}
.form-control{
	display: initial;
    width: 92%;
}
.login-header{
	width: 50%;
	height: 20%;
    border-radius: 17px 0px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29522a), color-stop(44%,#08472a), color-stop(100%,#2c572d));
}
.login-header-text{
	color: white;
	font-size: 20px;
    left: 25%;
    top: 10%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.click-container{
	transform: translate(0%,57%);
}
.panel-primary{
	line-height: 77%;
}
.btn-login{
	width: 100%;
    color: #fff;
    background-color: #044c2b;
    border-color: #08472a;
    border-radius: 10px;
}
.btn-login:active{
	width: 100%;
    color: #fff;
    background-color: #044c2b;
    border-color: #08472a;
}
.btn-login:focus{
	width: 100%;
    color: #fff;
    background-color: #044c2b;
    border-color: #08472a;
}
.btn-login:hover{
	 color: #fff;
    background-color: #044c2bf2;
    border-color: #08472a;
}
.link{
	color: #08472a;
}
.link-container{
	text-align: center;
	 margin-top: 3%;
}
.footer{
    height: 25px;
    width: 920px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-0%);
}

.footer-text{
    text-align: center;
    height: 32px;
    border-bottom: 1px #AFAFAF solid;
}

.error_message{
	position: absolute;
	left: 50%;
    transform: translate(-50%,0%);
	text-align: center;
	color: red;	
    font-size: 11px
}
.app-title{
	width: 300px;
    height: 24px;
    margin-top:  18px;
    font-size: 15px;
    position: absolute;
    margin-left: 260px;
    font-weight: bold;
    color: #06482a;

    line-height: 1.6;

    font-family: 'Roboto Slab';
}
.select-menu{
    -webkit-appearance: menulist !important;
    height: 100% !important;
    width: 100%;
}

.color{
    background: #f2e2dd;
}

.frm_container {
    margin: 10px 0;
}
.frm_heading {
    font-size: 14px;
    width: 345px;
    border-bottom: 1px solid #F0F0F0;
    font-weight: 900;
    margin-left: 30px;
}

.frm_inputs {
    padding-left: 15px;
}
.info_view tr td:first-child {
    font-size: 12px;
    padding-right: 10px;
    text-align: right;
    width: 180px;
    font-style: italic;
    color: #6D6D6D;
}